.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.now-playing {
  width: 100%;
  height: 100vh;
  background-color: #1D1E21;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 60px 16px 50px;
  box-sizing: border-box;
  font-family: 'Proxima Nova';
  letter-spacing: 0.02rem;
}

.source {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.source-title {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 0.2rem;
}

.source-description {
  font-size: 0.8rem;
}

.song-art {
  width: auto;
  height: auto;
  background: #ddd;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 2.2rem;
}

.song-title {
  font-weight: 600;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

.song-artist {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}